<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mes tâches
    </h1>
</section>

<section class="content">
    <!-- 1er tableau de tache : les taches que l'étudiant a recu -->
    <div class="box box-task">
        <!-- Titre du tableau -->
        <div class="box-header">
            <h3 class="box-title">Tâches reçues</h3>
        </div>
        <!-- Corps du tableau -->
        <div class="box-body">
            <table class="table table-bordered table-striped table-task">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Échéance</th>
                    <th>De</th>
                    <th>Titre</th>
                    <th>Importance</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- Exemple d'une tâche -->
                <tr>
                    <td>1</td>
                    <td>06/05/2015</td>
                    <td>Julien</td>
                    <td>Test des tâches de l'étudiant</td>
                    <td>1</td>
                    <!-- Icone "voir détail" -->
                    <td style="text-align: center;"><a href="#infos_task_1" data-toggle="modal"><i class="fa fa-search"></i></a></td>
                    <!-- Debut modal view -->
                    <div class="modal fade" id="infos_task_1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- En tete -->
                                <div class="modal-header modal-header-task">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <div class="modal-title">Tache n°1 - Test des tâches de l'étudiant</div>

                                </div>
                                <!-- En tete présentant le body -->
                                <div class="modal-header modal-before-body">
                                    De : Julien
                                    <div class="date_modal">
                                        <div class="date_debut">Date d'attribution : 21/03/2015</div>
                                        <div class="date_fin">Échéance : 06/05/2015</div>
                                    </div>
                                </div>
                                <!-- Corps -->
                                <div class="modal-body">
                                    <h4>Contenu :</h4>
                                    <p>
                                        Test des tâches de l'étudiant.
                                    </p>
                                </div>
                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-success pull-left" data-dismiss="modal">Editer</button>
                                    <button class="btn btn-danger pull-left" data-dismiss="modal">Supprimer</button>
                                    <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin modal view -->
                    <!-- Faire un effet de transition quand on supprime une tache -->
                    <td style="text-align: center;"><a href="#"><i class="fa fa-trash"></i></a></td> <!-- Icone "supprimer" -->
                </tr>
                <!-- Exemple d'une tâche -->
                <tr>
                    <td>2</td>
                    <td>04/05/2015</td>
                    <td>Bengous</td>
                    <td>Oueskon va?</td>
                    <td>3</td>
                    <!-- Icone "voir détail" -->
                    <td style="text-align: center;"><a href="#infos_task_2" data-toggle="modal"><i class="fa fa-search"></i></a></td>
                    <!-- Debut modal view -->
                    <div class="modal fade" id="infos_task_2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- En tete -->
                                <div class="modal-header modal-header-task">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <div class="modal-title">Tache n°2 - Oueskon va?</div>

                                </div>
                                <!-- En tete présentant le body -->
                                <div class="modal-header modal-before-body">
                                    De : Marcelo Bielsa
                                    <div class="date_modal">
                                        <div class="date_debut">Date d'attribution : 14/04/2015</div>
                                        <div class="date_fin">Échéance : 04/05/2015</div>
                                    </div>
                                </div>
                                <!-- Corps -->
                                <div class="modal-body">
                                    <h4>Contenu :</h4>
                                    <p>
                                        Oh l'arbitre, va te faire encadrer.
                                    </p>
                                </div>
                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-success pull-left" data-dismiss="modal">Editer</button>
                                    <button class="btn btn-danger pull-left" data-dismiss="modal">Supprimer</button>
                                    <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin modal view -->
                    <!-- Faire un effet de transition quand on supprime une tache -->
                    <td style="text-align: center;"><a href="#"><i class="fa fa-trash"></i></a></td> <!-- Icone "supprimer" -->
                </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- 2ème tableau : les taches que l'étudiant a envoyé -->
    <div class="box box-task">
        <!-- Titre du tableau -->
        <div class="box-header">
            <h3 class="box-title">Tâches reçues</h3>
        </div>
        <!-- Corps du tableau -->
        <div class="box-body">
            <table class="table table-bordered table-striped table-task">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Échéance</th>
                    <th>De</th>
                    <th>Titre</th>
                    <th>Importance</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- Exemple d'une tâche -->
                <tr>
                    <td>1</td>
                    <td>06/05/2015</td>
                    <td>Julien</td>
                    <td>Test des tâches de l'étudiant</td>
                    <td>1</td>
                    <!-- Icone "voir détail" -->
                    <td style="text-align: center;"><a href="#infos_task_1" data-toggle="modal"><i class="fa fa-search"></i></a></td>
                    <!-- Debut modal view -->
                    <div class="modal fade" id="infos_task_1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- En tete -->
                                <div class="modal-header modal-header-task">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <div class="modal-title">Tache n°1 - Test des tâches de l'étudiant</div>

                                </div>
                                <!-- En tete présentant le body -->
                                <div class="modal-header modal-before-body">
                                    De : Julien
                                    <div class="date_modal">
                                        <div class="date_debut">Date d'attribution : 21/03/2015</div>
                                        <div class="date_fin">Échéance : 06/05/2015</div>
                                    </div>
                                </div>
                                <!-- Corps -->
                                <div class="modal-body">
                                    <h4>Contenu :</h4>
                                    <p>
                                        Test des tâches de l'étudiant.
                                    </p>
                                </div>
                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-success pull-left" data-dismiss="modal">Editer</button>
                                    <button class="btn btn-danger pull-left" data-dismiss="modal">Supprimer</button>
                                    <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin modal view -->
                    <!-- Faire un effet de transition quand on supprime une tache -->
                    <td style="text-align: center;"><a href="#"><i class="fa fa-trash"></i></a></td> <!-- Icone "supprimer" -->
                </tr>
                <!-- Exemple d'une tâche -->
                <tr>
                    <td>2</td>
                    <td>04/05/2016</td>
                    <td>Bengous</td>
                    <td>Oueskon va?</td>
                    <td>3</td>
                    <!-- Icone "voir détail" -->
                    <td style="text-align: center;"><a href="#infos_task_2" data-toggle="modal"><i class="fa fa-search"></i></a></td>
                    <!-- Debut modal view -->
                    <div class="modal fade" id="infos_task_2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- En tete -->
                                <div class="modal-header modal-header-task">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <div class="modal-title">Tache n°2 - Oueskon va?</div>

                                </div>
                                <!-- En tete présentant le body -->
                                <div class="modal-header modal-before-body">
                                    De : Marcelo Bielsa
                                    <div class="date_modal">
                                        <div class="date_debut">Date d'attribution : 14/04/2015</div>
                                        <div class="date_fin">Échéance : 04/05/2015</div>
                                    </div>
                                </div>
                                <!-- Corps -->
                                <div class="modal-body">
                                    <h4>Contenu :</h4>
                                    <p>
                                        Oh l'arbitre, va te faire encadrer.
                                    </p>
                                </div>
                                <!-- Footer -->
                                <div class="modal-footer">
                                    <button class="btn btn-success pull-left" data-dismiss="modal">Editer</button>
                                    <button class="btn btn-danger pull-left" data-dismiss="modal">Supprimer</button>
                                    <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin modal view -->
                    <!-- Faire un effet de transition quand on supprime une tache -->
                    <td style="text-align: center;"><a href="#"><i class="fa fa-trash"></i></a></td> <!-- Icone "supprimer" -->
                </tr>
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
