.table-program,
.table-note{
    border: 1px solid #BEBABA;
}

.table-program > thead > tr > th,
.table-program > tbody > tr > th,
.table-program > tfoot > tr > th,
.table-program > thead > tr > td,
.table-program > tbody > tr > td,
.table-program > tfoot > tr > td,
.table-note > thead > tr > th,
.table-note > tbody > tr > th,
.table-note > tfoot > tr > th,
.table-note > thead > tr > td,
.table-note > tbody > tr > td,
.table-note > tfoot > tr > td{
    border-color: #BEBABA;
}

.table-program{
    max-width: 100%;
}

.entete{
    background-color: #009FFA;
    color: #ffffff;
}

.entete > th,
.table-program > tbody > tr > th,
.table-program > tbody > tr > td,
.table-note > tbody > tr > th,
.table-note > tbody > tr > td,
.btn-center,
.row-task{
    text-align: center;
}

.UE,
.sous_ensemble {
    background-color: #ffffff;
}

.contenu_matiere{
    background-color: #F5F5F5;
}

/* Pour centrer les éléments */
.form-group,
.table-note,
.box-task{
    margin: auto;
}

a > .fa-trash{
    color: red;
}

a:hover > .fa-trash{
    color: rgb(255, 90, 0);
}

.myform{
    width: 75%;
    margin: auto;
    padding-top: 10px;
}

.sous_formulaire{
    padding-top: 10px;
    border-top: 2px solid #009FFA;
}


.form-group{
    padding-bottom: 10px;
}

.btn-primary{
    background-color: #009FFA;
}

/* Sidebar personnalisé */

.sidebar-perso > .sidebar-menu > li.header {
    background: #ffffff;
}

.sidebar-perso > .sidebar-menu > li{
}
.sidebar-perso > .sidebar-menu > li > a {
    border-left-width: 0px;
    margin-right: 1px;
    background-color: #009FFA;
    border: 1px solid #003B59;
}

.sidebar-perso > .sidebar-menu > li > a:hover,
.sidebar-perso > .sidebar-menu > li.active > a {
    color: #fff;
    background: #00496E;
}


.sidebar-perso > .sidebar-menu > li > .treeview-menu {
    background: transparent;
    margin: 0px;
    padding: 0px;
}

/* Datepicker */

.dropdown-menu {
    margin-top: -350px;
    margin-right: -35px;
}

.dropdown-menu:after {
    border: none !important;
    content: "" !important;
}

.dropdown-menu:before {
    border: none !important;
    content: "" !important;
}

/** Modal view **/

.modal-header-task{
    background-color: #428bca;
    color:#ffffff;
    font-weight:bold;
}

.modal-before-body{
    text-align: left;
}

.date_modal{
    display: block;
}

.date_debut{
    display: inline;
    text-align: left;
}

.date_fin{
    display: inline;
    text-align: right;
    margin-left: 220px;
}

.modal-body{
    text-align: left;
}

/* Tableau représentant les taches */
.box{
    border-color: #009FFA;
}

.box-task{
    width: 95%;
    margin-top : 2%;
}

/* Niveau d'importance */
.importance1{
    display: none;
}

.importance2{
    color:#f1c40f;
}

.importance3{
    color:red;
}

.task_done{
    filter: opacity(0.5);
}

.task_urgent{
    background-color: rgba(255, 0, 0, 0.5);
}