<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mon programme
    </h1>
</section>

<!-- Content -->
<section class="content">
    <section class="sidebar sidebar-perso" style="width:90%;margin:auto;text-align:center;">
        <ul class="sidebar-menu">
            <!-- Onglet S7 -->
            <li class="treeview">
                <a href="#" id="semestre1" onclick="activeSemestre('semestre1')">
                    <span><B>Semestre 7</B></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <!-- Programme du S7 -->
                <ul class="treeview-menu">
                    <!-- Semestre 1 -->
                    <table class="table table-program">
                        <thead>
                        <tr class="entete">
                            <th>Code</th>
                            <th>Titre</th>
                            <th>ECTS</th>
                            <th>Coeff</th>
                            <th>Seuil</th>
                            <th>Cours</th>
                            <th>C-TD</th>
                            <th>TD</th>
                            <th>TP</th>
                            <th>Projet</th>
                            <th>Total</th>
                            <th>Stage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 1ère UE -->
                        <tr class="UE">
                            <th style="text-align: left;">UE : d1c1</th>
                            <th style="text-align: left;">Langues et Communication I</th>
                            <th>3</th>
                            <th>5</th>
                            <th>10</th>
                            <th></th>
                            <th></th>
                            <th>58</th>
                            <th></th>
                            <th></th>
                            <th>58</th>
                            <th></th>
                        </tr>

                        <!-- 1ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left; padding-left: 15px;">d1c1-1</td>
                            <td style="text-align: left;">Anglais</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>32</td>
                            <td></td>
                            <td></td>
                            <td>32</td>
                            <td></td>
                        </tr>

                        <!-- 2ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c1-2</td>
                            <td style="text-align: left;">Option langue (Esp., All., anglais soutien, FLE,...)</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10,5</td>
                            <td></td>
                            <td></td>
                            <td>10,5</td>
                            <td></td>
                        </tr>

                        <!-- 3ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c1-3f</td>
                            <td style="text-align: left;">Français langue étrangère FLE (parcours 3+3)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>15,5</td>
                            <td></td>
                            <td></td>
                            <td>15,5</td>
                            <td></td>
                        </tr>

                        <!-- 2ère UE -->
                        <tr class="UE">
                            <th style="text-align: left;">UE : d1c2</th>
                            <th style="text-align: left;">L'entreprise et son environnement</th>
                            <th>6</th>
                            <th>11</th>
                            <th>10</th>
                            <th>27,5</th>
                            <th>43</th>
                            <th></th>
                            <th>20</th>
                            <th>4</th>
                            <th>94,5</th>
                            <th></th>
                        </tr>

                        <!-- 1ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left; padding-left: 15px;">d1c2-1</td>
                            <td style="text-align: left;">Gestion de projet</td>
                            <td></td>
                            <td>4</td>
                            <td></td>
                            <td>1,5</td>
                            <td>15</td>
                            <td></td>
                            <td>12</td>
                            <td>4</td>
                            <td>32,5</td>
                            <td></td>
                        </tr>

                        <!-- 2ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c2-2</td>
                            <td style="text-align: left;">Management d'équipe</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>2</td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>12</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </li>
            <!-- Onglet S8 -->
            <li class="treeview">
                <a href="#" style="border-top-color: transparent;" id="semestre2" onclick="activeSemestre('semestre2')">
                    <span><B>Semestre 8</B></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <!-- Programme du S8 -->
                <ul class="treeview-menu">
                    <!-- Semestre 2 -->
                    <table class="table table-program">
                        <thead>
                        <tr class="entete">
                            <th>Code</th>
                            <th>Titre</th>
                            <th>ECTS</th>
                            <th>Coeff</th>
                            <th>Seuil</th>
                            <th>Cours</th>
                            <th>C-TD</th>
                            <th>TD</th>
                            <th>TP</th>
                            <th>Projet</th>
                            <th>Total</th>
                            <th>Stage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 1ère UE -->
                        <tr class="UE">
                            <th style="text-align: left;">UE : d1c1</th>
                            <th style="text-align: left;">Langues et Communication I</th>
                            <th>3</th>
                            <th>5</th>
                            <th>10</th>
                            <th></th>
                            <th></th>
                            <th>58</th>
                            <th></th>
                            <th></th>
                            <th>58</th>
                            <th></th>
                        </tr>

                        <!-- 1ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left; padding-left: 15px;">d1c1-1</td>
                            <td style="text-align: left;">Anglais</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>32</td>
                            <td></td>
                            <td></td>
                            <td>32</td>
                            <td></td>
                        </tr>

                        <!-- 2ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c1-2</td>
                            <td style="text-align: left;">Option langue (Esp., All., anglais soutien, FLE,...)</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10,5</td>
                            <td></td>
                            <td></td>
                            <td>10,5</td>
                            <td></td>
                        </tr>

                        <!-- 3ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c1-3f</td>
                            <td style="text-align: left;">Français langue étrangère FLE (parcours 3+3)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>15,5</td>
                            <td></td>
                            <td></td>
                            <td>15,5</td>
                            <td></td>
                        </tr>

                        <!-- 2ère UE -->
                        <tr class="UE">
                            <th style="text-align: left;">UE : d1c2</th>
                            <th style="text-align: left;">L'entreprise et son environnement</th>
                            <th>6</th>
                            <th>11</th>
                            <th>10</th>
                            <th>27,5</th>
                            <th>43</th>
                            <th></th>
                            <th>20</th>
                            <th>4</th>
                            <th>94,5</th>
                            <th></th>
                        </tr>

                        <!-- 1ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left; padding-left: 15px;">d1c2-1</td>
                            <td style="text-align: left;">Gestion de projet</td>
                            <td></td>
                            <td>4</td>
                            <td></td>
                            <td>1,5</td>
                            <td>15</td>
                            <td></td>
                            <td>12</td>
                            <td>4</td>
                            <td>32,5</td>
                            <td></td>
                        </tr>

                        <!-- 2ère matière -->
                        <tr class="contenu_matiere">
                            <td style="text-align: left;padding-left: 15px;">d1c2-2</td>
                            <td style="text-align: left;">Management d'équipe</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>2</td>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>12</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </li>
        </ul>
    </section>
</section>