<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mon tableau de bord
    </h1>
</section>

<!-- Content -->
<section class="content">
    <p>
        Personnaliser le menu d'accueil : proposer à l'étudiant de placer les widgets qu'il veut : liste de tache, agenda, ...
    </p>
</section>