<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mes notes
        <small>Dernière mise à jour : 21/03/2015</small>
    </h1>
    <div class="contenu">
        <table class="table table-note">
            <thead>
            <tr class="entete">
                <th style="width: 80%;">Matière</th>
                <th>Moyenne</th>
                <th>Coefficient</th>
            </tr>
            </thead>
            <tbody>
            <!-- 1ère matière -->
            <tr class="sous_ensemble">
                <th style="text-align: left; padding-left: 20px;">Compilation</th>
                <th>13/20</th>
                <th>4</th>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">DM</td>
                <td>12/20</td>
                <td>30%</td>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">CC</td>
                <td>12/20</td>
                <td>20%</td>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">Examen</td>
                <td>14/20</td>
                <td>50%</td>
            </tr>

            <!-- 2ème matière -->
            <tr class="sous_ensemble">
                <th style="text-align: left; padding-left: 20px;">Programmation en Nombres Entiers</th>
                <th>15/20</th>
                <th>4</th>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">Projet</td>
                <td>15/20</td>
                <td>50%</td>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">Soutenance</td>
                <td>15/20</td>
                <td>50%</td>
            </tr>

            <!-- 3ème matière -->
            <tr class="sous_ensemble">
                <th style="text-align: left; padding-left: 20px;">Management d'équipe</th>
                <th>15/20</th>
                <th>1</th>
            </tr>
            <tr class="contenu_matiere">
                <td style="text-align: left; padding-left: 30px;">Oral</td>
                <td>15/20</td>
                <td>100%</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>