<script type="text/javascript" src="{{ asset('js/monJS.js')}}"></script>
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <!-- TITRE DE LA BARRE DE NAVIGATION (SUR LA GAUCHE) -->
        <li class="header">MAIN NAVIGATION</li>
        <!-- Onglet ma formation -->
        <li class="treeview">
            <a href="#">
                <i class="fa fa-graduation-cap"></i> <span>Ma formation</span>       <!-- Modifier icone -->
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <!-- Liste de sous-onglets : taches attribuées et mes taches -->
            <ul class="treeview-menu">
			<!-- AU LIEU DE COURS/3, récupérer l'IDEtudiant du mec logué  -->
                <li><a href="#" onclick="activateTag('my_space_study_level')"><i class="fa fa-circle-o"></i>Mon espace</a></li>
                <li><a href="#" onclick="activateTag('my_program')"><i class="fa fa-circle-o"></i>Mon programme</a></li>
            </ul>
        </li>
        <!-- Onglet taches -->
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tâches</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <!-- Liste de sous-onglets : taches attribuées et mes taches -->
            <ul class="treeview-menu">
                <li><a href="#" onclick="activateTag('my_tasks')"><i class="fa fa-circle-o"></i>Mes tâches</a></li>
                <li><a href="#" onclick="activateTag('assign_task')"><i class="fa fa-circle-o"></i>Attribuer une tache</a></li>
            </ul>
        </li>
        <!-- Onglet notes -->
        <li>
			<!-- AU LIEU DE NOTES/3, récupérer l'IDEtudiant du mec logué  -->
            <a href="#" onclick="activateTag('my_grades')">
                <i class="fa fa-list-alt"></i> <span>Mes notes</span>      <!-- Modifier icone -->
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <!-- Onglet Planning -->
        <li>
            <a href="#" onclick="activateTag('planning')" >
                <i class="fa fa-calendar"></i> <span>Planning</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <!-- Onglet "mes notifications" -->
        <li>
            <a href="#" onclick="activateTag('my_notifications')">
                <i class="fa fa-bell"></i> <span>Mes notifications</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
        <li>
            <a href="#" onclick="activateTag('contact')">
                <i class="fa fa-envelope"></i> <span>Contacter quelqu'un</span>     <!-- Modifier icone -->
                <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->
